<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.shoper.contacts.repo.UserRepository">
    <select id="findUserByName" resultType="org.shoper.contacts.bean.User"
            parameterType="org.shoper.contacts.bean.User">
        select id,username,phone,`type`
        from `user` where username=#{username}
    </select>

    <select id="findUserByUsernameAndPassword" resultType="org.shoper.contacts.bean.User"
            parameterType="org.shoper.contacts.bean.User">
        select id,username,phone,`type`
        from `user` where username=#{username} and password=MD5(#{password})
    </select>
</mapper>